.contact-data {
    padding: 25px 25px 30px;

    .contact-data-wrapper {
        display: grid;
        row-gap: 35px;
        grid-template: repeat(4, auto) / 1fr 1fr;
        width: 90%;

        .contact-data-title {
            grid-column: 1 / 3;
        }

        .email, .number, .telegram, .linkedin {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .button-contact, .upload-cv {
            border: 1px solid #3F7EE8;
            border-radius: 12px;
            height: 50px;
            width: 290px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            cursor: pointer;
            font-size: 20px;
            line-height: 25px;
        }

        .button-contact {
            background-color: #3F7EE8;
            color: white;
            transition-property: all;
            transition-duration: 0.2s;

            &:hover {
                transform: scale(1.05);
                color: #3F7EE8;
                background-color: #FFFFFF;
            }
        }

        .upload-cv {
            color: #3F7EE8;
            transition-property: all;
            transition-duration: 0.2s;

            &:hover {
                transform: scale(1.05);
            }

            #file-upload {
                display: none;
            }
        }
    }
}