.job-history-item {
    border: 1px solid #BCBCBC;
    padding: 38px 38px 0px 38px;
    border-radius: 12px;
    width: 538px;

    .job-history-wrapper {
        height: 64px;
        display: flex;
        justify-content: space-between;

        .job-history-icon {
            background-color: #3F7EE8;
            width: 64px;
            height: 64px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .job-history-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
    
            .job-history-position {
                font-weight: 600;
                color: #282828;
            }
    
            .job-history-date {
                display: flex;
                justify-content: space-between;
    
                span {
                    &:first-child {
                        color: #3F7EE8;
                    }
    
                    &:last-child {
                        color: #626262;
                    }
                }
            }
        }
    
        .job-history-button {
            svg {
                cursor: pointer;
            }
        }
    }
}