.filter-wrapper {
  .filter-panel-button {
    font-size: 12px;
    background-color: white;
    display: flex;
    padding: 8px 12px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #3f7ee8;
  }
}
