//імпорт змінних з файла App.scss
@use "../../App.scss" as styles;

main {
  width: 100%;
  .general-info-section {
    display: flex;
    justify-content: space-between;

    .general-info {
      text-align: left;
      width: 613px;
      margin-bottom: 36px;

      .general-header {
        color: styles.$blackForText;
        font-size: 38px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 1px styles.$blackForText;
        font-weight: bold;
        padding-top: 147px;
        padding-bottom: 15px;
      }
      .info-text {
        margin-bottom: 25px;
      }
    }
    .general-info-img {
      margin-right: 0px;

      .info-img {
        height: 580px;
        width: 580px;
      }
    }
  }

  .header-arrow-section {
    display: flex;
    margin-bottom: 16px;
    margin-top: 25px;

    .header-arrow {
      font-size: 22px;
      margin-bottom: 16px;
      margin-left: 35px;
      margin-top: 23px;
    }
    .frame {
      top: 5px;
      height: 48px;
      width: 48px;
    }
  }

  .suggestion-advice-section {
    .text {
      text-align: left;
      width: 643px;
      margin-top: 60px;
      margin-bottom: 51px;
    }

    .t-bl-r-l-flex {
      display: flex;
      width: 95%;

      .topic-section-left {
        margin-bottom: 15px;

        .topic-left {
          font-size: 51px;
          color: styles.$lightBlue;
          margin-top: 70px;
        }

        .topic-text-left {
          font-size: 16px;
          margin-top: 15px;
          margin-bottom: 15px;
        }

        .text-left {
          font-size: 16px;
        }
      }

      .topic-section-right {
        text-align: left;
        margin-left: 77px;

        .topic-right {
          font-size: 51px;
          color: styles.$lightBlue;
          margin-top: 70px;
        }
        .topic-text-right {
          font-size: 16px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .text-right {
          font-size: 16px;
        }
      }
    }
  }

  .reviews-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 56px;

    .r-bl-wr {
      width: 30%;
      background-color: styles.$grayForFill;
      border-radius: 15px;
      padding: 20px;

      .r-bl-photos-text {
        margin-top: 30%;
        margin-left: 30%;

        .photos-others {
          margin-bottom: 16px;

          .photo-other-1 {
            position: relative;
            z-index: 1;
          }
          .photo-other-2 {
            position: relative;
            z-index: 2;
            right: 20px;
          }
          .photo-other-3 {
            position: relative;
            z-index: 3;
            right: 35px;
          }
          .photo-other-number {
            position: relative;
            z-index: 4;
            right: 55px;
          }
        }

        .r-bl-text {
          margin-bottom: 24px;
        }
      }
    }

    .photo-name {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
    }

    .photo-position {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }

    .photo-desc {
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .scheme-section {
    background-image: url('data:image/svg+xml,<svg width="719" height="1446" viewBox="0 0 919 2000" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.316 1C-2.15595 55.5 -30.6774 158.6 168.213 167C367.104 175.4 655.965 157.5 703 226" stroke="%232E85EC" stroke-width="3"/><path d="M705.567 271C728.614 324.524 727.297 450.166 600.209 488.478C473.121 526.79 189.313 425.939 134 502" stroke="%232E85EC" stroke-width="3"/><path d="M109.855 534C88.331 574.633 79.8519 655.302 131.378 710.874C182.904 766.446 235.735 767.641 284 749.715" stroke="%232E85EC" stroke-width="3"/><path d="M303.244 774C320.653 825.204 245.447 922.833 367.309 913.275C489.17 903.717 416.75 1008.86 579 985.644" stroke="%232E85EC" stroke-width="3"/><path d="M599.593 1006C650.055 1175.7 329.732 1008.91 367.03 1166" stroke="%232E85EC" stroke-width="3"/><path d="M358.066 1193C314.5 1283 101.5 1149.5 109 1250" stroke="%232E85EC" stroke-width="3"/><path d="M100.461 1277C86.2363 1398.55 132.705 1461.56 265 1439.73" stroke="%232E85EC" stroke-width="3"/><circle cx="16" cy="23" r="23" fill="blue"/><text x="16" y="25" font-size="24" text-anchor="middle" fill="white">1</text><circle cx="700" cy="249" r="23" fill="blue"/><text x="700" y="255" font-size="24" text-anchor="middle" fill="white">2</text><circle cx="124" cy="520" r="23" fill="blue"/><text x="124" y="526" font-size="24" text-anchor="middle" fill="white">3</text><circle cx="300" cy="755" r="23" fill="blue"/><text x="300" y="765" font-size="24" text-anchor="middle" fill="white">4</text><circle cx="590" cy="1000" r="23" fill="blue"/><text x="590" y="1010" font-size="24" text-anchor="middle" fill="white">5</text><circle cx="360" cy="1170" r="23" fill="blue"/><text x="360" y="1180" font-size="24" text-anchor="middle" fill="white">6</text><circle cx="105" cy="1260" r="23" fill="blue"/><text x="105" y="1270" font-size="24" text-anchor="middle" fill="white">7</text><circle cx="270" cy="1440" r="23" fill="blue"/><text x="270" y="1450" font-size="24" text-anchor="middle" fill="white">8</text></svg>');
    background-size: cover;
    background-color: transparent;
    position: relative;
    margin-left: 110px;
    padding-top: 50px;

    .scheme-1,
    .scheme-2,
    .scheme-3,
    .scheme-4,
    .scheme-5,
    .scheme-6,
    .scheme-7,
    .scheme-8 {
      display: flex;
    }
    .wr-sch-1 {
      margin-top: -30px;
      margin-left: 150px;
      max-width: 458px;
      .wr-sch-1-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-weight: 700;
          line-height: 50px;
        }

        .posting-time {
          background-color: styles.$lightBlue;
          border-radius: 25%;
          padding: 5px;
          color: styles.$white;
          font-size: 15px;
        }
      }
    }
    .indexMagnifyingGlass {
      margin-top: -100px;
      margin-left: 114px;
    }

    .scheme-2 {
      flex-direction: row-reverse;
      margin-top: 120px;
      margin-right: 300px;

      .wr-sch-2 {
        margin: 0;
        margin-right: 180px;
        padding-left: 25px;

        .wr-sch-2-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }
          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }

      .indexChatImg {
        margin-top: 5px;
        margin-left: -100px;
        display: block;
      }
    }

    .scheme-3 {
      margin-top: 170px;
      margin-left: 230px;
      .wr-sch-3 {
        margin: 0;
        margin-right: 180px;
        padding-left: 25px;
        .wr-sch-3-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }
          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }
      .indexCheckImg {
        position: relative;
        top: -80px;
        left: -45px;
      }
    }
    .scheme-4 {
      flex-direction: row-reverse;
      margin-top: 120px;
      margin-left: 400px;

      .wr-sch-4 {
        margin-right: 130px;
        padding-left: 255px;

        .wr-sch-4-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }
          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }
      .indexCommunityImg {
        margin-top: 5px;
        margin-left: -400px;
        display: block;
      }
    }

    .scheme-5 {
      margin-top: 50px;

      .wr-sch-5 {
        margin-right: 290px;
        padding-left: 45px;

        .wr-sch-5-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }
          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }
      .indexSlideImg {
        margin-top: -40px;
        display: block;
      }
    }

    .scheme-6 {
      margin-top: 50px;

      .wr-sch-6 {
        margin-right: 150px;
        padding-left: 550px;
        margin-top: -20px;

        .wr-sch-6-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }
          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }
    }

    .scheme-7 {
      margin-top: 50px;

      .wr-sch-7 {
        margin-right: 350px;
        padding-left: 260px;
        margin-top: -15px;

        .wr-sch-7-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }

          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }
    }

    .scheme-8 {
      flex-direction: row-reverse;
      margin-top: 120px;
      margin-left: 400px;

      .wr-sch-8 {
        margin-right: 130px;
        padding-left: 255px;

        .wr-sch-8-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-weight: 700;
            line-height: 50px;
          }
          .posting-time {
            background-color: styles.$lightBlue;
            border-radius: 25%;
            padding: 5px;
            color: styles.$white;
            font-size: 15px;
          }
        }
      }
      .indexCashImg {
        margin-left: -400px;
        display: block;
      }
    }
  }

  .button-section {
    display: inline-block;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding-left: 503px;
  }

  .advantages-section {
    .advantages1 {
      position: relative;
      margin-left: -60px;
    }

    .a-1 {
      display: flex;
      align-items: baseline;
      margin-left: 220px;
      span {
        display: block;
        font-size: 24px;
        color: styles.$white;
        background-color: styles.$lightBlue;
        border-radius: 50%;
        padding: 4px 14px;
        margin-right: 15px;
      }
      p {
        font-size: 16px;
        border: styles.$lightBlue 1px solid;
        border-radius: 5px;
        padding: 5px 45px;
      }
    }
    .advantages2 {
      display: block;
      position: relative;
      left: 1070px;
      margin-right: 0px;
      top: -120px;
    }

    .a-2 {
      display: flex;
      align-items: baseline;
      margin-left: 600px;
      margin-top: -130px;
      span {
        display: block;
        font-size: 24px;
        color: styles.$white;
        background-color: styles.$lightBlue;
        border-radius: 50%;
        padding: 4px 14px;
        margin-right: 15px;
      }

      p {
        font-size: 16px;
        border: styles.$lightBlue 1px solid;
        border-radius: 5px;
        padding: 5px 45px;
      }
    }

    .a-3 {
      display: flex;
      align-items: baseline;
      margin-left: 260px;
      margin-top: -160px;

      span {
        display: block;
        font-size: 24px;
        color: styles.$white;
        background-color: styles.$lightBlue;
        border-radius: 50%;
        padding: 4px 14px;
        margin-right: 15px;
      }

      p {
        font-size: 16px;
        border: styles.$lightBlue 1px solid;
        border-radius: 5px;
        padding: 5px 45px;
      }
    }

    .a-4 {
      display: flex;
      align-items: baseline;
      margin-left: 600px;
      margin-top: 20px;

      span {
        display: block;
        font-size: 24px;
        color: styles.$white;
        background-color: styles.$lightBlue;
        border-radius: 50%;
        padding: 4px 14px;
        margin-right: 15px;
      }

      p {
        font-size: 16px;
        border: styles.$lightBlue 1px solid;
        border-radius: 5px;
        padding: 5px 45px;
      }
    }

    .a-5 {
      display: flex;
      align-items: baseline;
      margin-left: 310px;
      margin-top: 25px;
      margin-bottom: 110px;

      span {
        display: block;
        font-size: 24px;
        color: styles.$white;
        background-color: styles.$lightBlue;
        border-radius: 50%;
        padding: 4px 14px;
        margin-right: 15px;
      }

      p {
        font-size: 16px;
        border: styles.$lightBlue 1px solid;
        border-radius: 5px;
        padding: 5px 45px;
      }
    }
    .advantages3 {
      position: relative;
      margin-left: -60px;
      top: 110px;
    }
  }

  .chat-bot-section {
    width: calc(100% + 120px);
    display: flex;
    height: 331px;
    background-color: styles.$lightBlue;
    position: relative;
    position: relative;
    inset: 0 -60px;
    margin-bottom: 106px;
    padding-left: 283px;
    padding-top: 50px;
    color: styles.$white;
    h2 {
      font-weight: 700;
    }
    p {
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    .ch-b-bl-2 {
      margin-left: 160px;
      .chatBotCurve {
        margin-top: -130px;
        margin-left: -20px;
      }
      .chatBotPointer {
        position: relative;
        top: 125px;
        left: 165px;
        z-index: 11;
      }
      .button-bot {
        margin-top: 55px;
        .link-bot {
          z-index: 10;
          text-decoration: none;
          color: styles.$blackForText;
          border: styles.$blackForImg 1px solid;
          border-radius: 9px;
          padding: 1px 45px;
        }
      }
    }
  }

  .vacancy-section {
    width: calc(100% + 120px);
    position: relative;
    left: -60px;
    right: -60px;
    overflow: hidden;
    max-height: 350px;

    .vacancy-wrapper {
      display: flex;
      height: 340px;
      width: auto;
      animation: scroll 15s linear infinite;

      .v-bl-slide {
        border: 2px solid styles.$grayforBorder;
        border-radius: 20px;
        overflow: hidden;
        background-color: #f4f4f4;
        margin-right: 20px;
        padding: 20px;
        min-width: 300px;
        height: 300px;
        white-space: nowrap;
        text-wrap: pretty;

        .v-bl-button {
          padding-left: 55px;
          padding-bottom: 50px;
        }

        h3 {
          color: styles.$lightBlue;
          font-size: 24px;
          margin-bottom: 20px;
        }

        h2 {
          font-size: 16px;
        }

        p {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }
    &::before,
    &::after {
      position: absolute;
      top: 5565px;
      width: 250px;
      height: 350px;
      content: "";
      z-index: 2;
    }

    &::before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }

    &::after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
    &:hover .vacancy-wrapper {
      animation-play-state: paused;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .send-resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    .s-r-bl {
      width: 427px;
      button {
        margin-left: 75px;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}
