.card {
  width: 517px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  border: 1px solid #bcbcbc;
  font-family: "Inter";
  padding: 30px;
  &-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 23px;
      h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.032px;
      }
      .card-salary {
        color: #26508f;
      }
    }
  }
  &-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.032px;
    &-main-requirements {
      display: flex;
      gap: 15px;
      .location,
      .experience {
        display: flex;
        gap: 5px;
        padding: 4px 10px;
        border-radius: 10px;
        align-items: center;
        border: 1px solid #282828;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0em;
      }
    }
    &-skills {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      list-style-type: none;
      .skill {
        display: flex;
        padding: 4px 12px;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        border: 1px solid #626262;
        color: #626262;
      }
    }
  }
  &-buttons-wrapper {
    display: flex;
    gap: 27px;
    margin-top: 30px;
    .button {
      display: inline-flex;
      padding: 12px 22px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.032px;
      border: 1px solid #2e85ec;
    }
    .details-button {
      background-color: #2e85ec;
      color: white;
    }
    .apply-button {
      background-color: white;
      color: #2e85ec;
    }
  }
}
