.seeker-favorites-page {
    margin-top: 40px;

    .seeker-favorites-title {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 60px;
    }

    .seeker-favotites-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
    }
}