
.footer-up {
  display: flex;
  height: 188px;
  background-color: #f8f9fa;
  padding-top: 50px;
}



footer .footer-text {
  color: #2e85ec;
  font-size: 12px;
  display: block;
  text-decoration: none;
  line-height: 25px;
}
footer .footer-logo-name {
  color: #4e4e4e;
  font-size: 18px;
}
footer .footer-text{
  color: #212529;
  font-size: 12px;
}
footer .footer-block-1-logo {
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.logo-instagram{
  color:aqua;
}