@use "../../App.scss" as styles;

.container {
  box-sizing: border-box;

  .my-office-box {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;

    .my-office-icon {
      width: 48px;
      height: 48px;
    }
    .my-office-title {
      font-family: inherit;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0em;
    }
  }
  .head-vacancy {
    display: flex;
    width: 1320px;
    gap: 40px;
    border-bottom: 1px solid styles.$grayForText;
    padding: 0px 0px 1px 0px;
    margin-bottom: 20px;
    .head-vacancy-title {
      position: relative;
      font-family: inherit;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
      &.active {
        color: #2e85ec;
      }
      &.active::after {
        position: absolute;
        background-color: #2e85ec;
        content: "";
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
      }
    }
  }
  .main-box {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    align-items: flex-start;
    .sidebar {
      width: 246px;
      border-radius: 12px;
      padding: 20px;
      background-color: styles.$grayForFill;
      .input-box {
        margin-top: 16px;
      }
      .form-date {
        display: flex;
        flex-direction: column;
        .date-input {
          width: 206px;
          border: 1px solid styles.$grayForText;
          border-radius: 3px;
          padding: 8px 5px;
          background-color: transparent;
        }
      }
      .filter-button {
        display: inline-flex;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.032px;
        border: 1px solid #2e85ec;
        color: #2e85ec;
        cursor: pointer;
        transition: styles.$mediumAnimation;
        &.filter-button:hover {
          background-color: #2e85ec;
          color: styles.$white;
        }
      }
    }
  }
}
