@use '../../../App.scss' as styles;

.hollow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 138px;
    height: 39px;
    border-radius: 20px;
    background-color: styles.$white;
    border: 1px solid styles.$lightBlue;
    color: styles.$lightBlue;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    // Селектор для вимкненої кнопки
    // Змінює колір фону, тексту та рамки, а також курсор
    // при вимкненому стані

    &:disabled {
        background-color: styles.$grayForFill;
        color: styles.$grayForText;
        border: 1px solid styles.$grayforBorder;
        cursor: auto;
    }

    // Селектор для кнопки, яка не вимкнена, при наведенні
    // Змінює колір фону та тексту при наведенні
    &:not(:disabled):hover {
        background-color: styles.$lightBlue;
        color: styles.$white;
        scale: 1.05;
    }
    &:not(:disabled):active {
        scale: 0.95;
 
     }
}