@use '../../../App.scss' as styles;

.vacancies-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .vacancies-inner-wrapper {
        width: 100%;
        height: 90%;
        padding: 0px 60px;
        padding-bottom: 50px;

        .title-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                align-items: center;
                display: flex;
            }

            h1 {
                padding-left: 20px;
            }
        }

        .all-vacancies {
            width: 100%;
            height: 620px;
            padding: 40px;
            margin-top: 50px;
            border-radius: 16px;
            border: 1px solid styles.$grayforBorder;

            h1 {
                padding: 50px;
            }

            .no-vacancy {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 100px;

            }

            .vacancy-list {

                .vacancy-item {

                    padding-left: 40px;
                    border-bottom: 1px solid styles.$grayforBorder;
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        padding-bottom: 15px;
                        color: styles.$blackForText;
                    }

                    span {
                        display: flex;
                        gap: 20px;
                        color: styles.$grayForText;
                        padding-bottom: 35px;
                    }

                    .right {
                        display: flex;
                        gap: 10px;

                        button {
                            width: 36px;
                            height: 36px;
                            background: none;
                            border: none;
                            cursor: pointer;
                            color: styles.$grayForText;
                            transition: 0.1s cubic-bezier(0.7, 0, 0.31, 0.98);

                            &:hover {
                                color: styles.$blackForText;
                            }

                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }


    .choose-inner-wrapper {
        margin-bottom: 100px;
        margin-top: 50px;
        width: 90%;
        height: 90%;
        border-radius: 16px;
        border: 1px solid styles.$grayforBorder;
        padding: 67px;

        h1 {
            color: styles.$blackForText;
            padding-bottom: 50px;
        }

        .choose-vacancy-methods {
            display: grid;
            grid-template-columns: 48% 48%;
            justify-content: space-between;

            .choose-card {
                border: 1px solid styles.$grayforBorder;
                border-radius: 16px;
                height: 550px;
                padding: 20px;
                margin: 30px 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .title {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: space-evenly;


                    p {
                        width: 60%;
                        height: 100px;

                        span {
                            color: styles.$lightBlue;
                        }
                    }
                }

                form {
                    height: 145px;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    a {
                        text-decoration: none;
                    }
                }

                .file-form {
                    div {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    label {
                        background-color: styles.$white;
                        border: 1px solid styles.$lightBlue;
                        border-radius: 20px;
                        padding: 10px;
                        width: 100%;
                        cursor: pointer;
                        text-align: center;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: styles.$lightBlue;
                            color: styles.$white;
                            scale: 1.05;
                        }

                        &:active {
                            scale: 1;

                        }


                    }

                    input[type=file] {
                        display: none;
                    }

                    input[type=text] {
                        width: 100%;
                        border: none;

                    }


                }


            }
        }

    }

    .create-inner-wrapper {
        width: 90%;
        height: 90%;
        border-radius: 16px;
        padding: 50px;
        padding-bottom: 75px;

        border: 1px solid styles.$grayforBorder;

        form {
            .field-wrapper {
                padding: 20px 0px;

                h2 {
                    padding-bottom: 20px;
                }

                .salary {
                    display: flex;
                    gap: 20px;

                    >* {
                        width: 50%;
                    }
                }

                .languages {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;

                    >div {
                        display: flex;
                        gap: 10px;
                        width: 100%;
                    }

                    .clear-language {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            border: none;
                            height: 43px;
                            width: 60px;
                            border-radius: 12px;
                            border: 1px solid styles.$grayforBorder;
                            font-size: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: styles.$fastAnimation;
                            cursor: pointer;

                            &:hover {
                                background-color: styles.$red;
                                color: styles.$white;
                            }
                        }
                    }
                }

                .advantages {
                    display: grid;
                    grid-template-columns: 30% 30% 30%;

                    svg {
                        width: 36px;
                        height: 36px;
                        color: styles.$lightBlue;
                    }

                    >div {
                        align-items: center;
                        gap: 10px;
                    }
                }

            }



            .select-experience {
                display: flex;

                .radio-wrapper {
                    position: relative;
                    width: 70px;
                    height: 48px;
                    border: 1px solid styles.$lightBlue;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    label {
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    input[type=radio] {
                        opacity: 0
                    }

                    input[type=radio]:checked+label {
                        background-color: styles.$lightBlue;
                        transition: 0.3s;

                    }

                    &:first-of-type {
                        border-radius: 16px 0px 0px 16px;

                        label {
                            border-radius: 14.4px 0px 0px 14.4px;

                        }
                    }

                    &:last-of-type {
                        border-radius: 0px 16px 16px 0px;

                        label {
                            border-radius: 0px 14.4px 14.4px 0px;


                        }
                    }
                }
            }
        }


    }
    .confirm-inner-wrapper{
        width: 100%;
        height: 90%;
        border-radius: 16px;
        border: 1px solid styles.$grayforBorder;
        background-color: styles.$white;
        padding: 60px 60px 120px 60px;
        color: styles.$blackForText;
        position: relative;
        h2{
            padding-bottom: 30px;
        }
        h4{
            padding-bottom: 50px;
        }

        .title{
            color: styles.$blackForText;

        }
        .city{
            color: styles.$grayForText;
            display: flex;
            align-items:  baseline;
        }
        .job-bullet-points{
            display: grid;
            justify-content: space-between;
            grid-template-columns: auto auto auto auto auto;
        }
        .job-description{
            width: 100%;
            margin-top: 50px;
            padding: 50px;
            border-radius: 16px;
            background-color: styles.$white;
            border: 1px solid styles.$grayforBorder;
            h3{
                padding-bottom: 50px;
            }
            span{
                display: flex;
                .job-description-paragraph{
                    width: 70%;
                    margin-right: 50px;
                }
                .skills-box{
                    background-color: styles.$lightBlue;
                    border-radius: 16px;
                    width: 380px;
                    padding: 30px;
                    color: white;
                    .all-skills{
                        display: flex;
                        list-style: none;
                        gap: 10px;
                        flex-wrap: wrap;
                        li{
                            min-width: 60px;
                            padding: 0px 10px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 16px;
                            border: 1px solid styles.$white;
                            font-size: 18px;

                        }
                    }
                }
            }

        }
        .solid-button{            
            margin: 50px 0px;
            position: absolute;
            left: 85%;
        }

    }
    .created-inner-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 90%;
        height: 90%;
        gap: 50px;
        margin: 50px 0px 100px;
        
        .created-card{
            padding: 90px;
            flex: 1;
            text-align: center;
            border-radius: 16px;
            border: 1px solid styles.$grayforBorder;
            color: styles.$blackForText;
            h3{
                padding-bottom: 25px;
            }
        }
        .best-fit-wrapper{
    
            border-radius: 16px;
            border: 1px solid styles.$grayforBorder;
            display: flex;
            flex-direction: column;
            flex: 3;
            padding: 40px;
            h1{
                color: styles.$blackForText;
                padding-bottom: 25px;
            }
            .solid-button{
                margin: 25px 0px;
            }
          
        }
    }
    
}