@use '../../App.scss' as styles;
.svg-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
    h1{
        font-size: 36px;
        color:styles.$blackForText; 
        margin-top: 25px;
        margin-bottom: 30px;

    }
    a{
        text-decoration: none;
    }
    p{
        color:styles.$blackForText; ;
        margin-bottom: 25px;

    }
    svg{
      
    }
}
